<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Inquiry</title>
</head>
<body>
    <h2>Contact Us Inquiry</h2>
    <p><strong>Name:</strong> #name#</p>
    <p><strong>Contact:</strong> #phone#</p>
    <p><strong>Email:</strong> #email#</p>
    <p><strong>City:</strong> #city#</p>
    <p><strong>Description:</strong> #description#</p>
    <p><strong>Page:</strong>#page#</p>
    <p><strong>Page URL:</strong> #page_url#</p>

    <!-- Project Details -->
    <p><strong>Project Contact:</strong> #project_contact#</p>
    <p><strong>Project Website:</strong> #project_website#</p>
    <p><strong>Project Email:</strong> #project_email#</p>

    <!-- Social Media Links -->
    <div>
        {!! $mailMessage['social_media'] !!}
    </div>

    <p>Thank you for your inquiry!</p>
</body>
</html>
